Introduction to APIs/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Introduction to APIs.props
Introduction to APIs/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Introduction to APIs.props
Introduction to APIs/obj/Debug/net8.0/staticwebassets/msbuild.build.Introduction to APIs.props
Introduction to APIs/obj/Debug/net8.0/refint/Introduction to APIs.dll
Introduction to APIs/obj/Debug/net8.0/ref/Introduction to APIs.dll
Introduction to APIs/obj/Debug/net8.0/staticwebassets.build.json
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.pdb
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.MvcApplicationPartsAssemblyInfo.cache
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.GlobalUsings.g.cs
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.genruntimeconfig.cache
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.GeneratedMSBuildEditorConfig.editorconfig
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.dll
.vs/Introduction to APIs/DesignTimeBuild/.dtbcache.v2
.vs/Introduction to APIs/FileContentIndex/2a399e8c-b817-415f-a617-79391e537ed9.vsidx
.vs/Introduction to APIs/FileContentIndex/1307da6c-47f4-4c24-b8ce-20a91a77ad81.vsidx
.vs/Introduction to APIs/FileContentIndex/90169f6a-2bdf-4e61-bf1b-2fcdd6b36306.vsidx
.vs/Introduction to APIs/v17/.futdcache.v2
.vs/Introduction to APIs/v17/.suo
.vs/Introduction to APIs/v17/TestStore/0/000.testlog
.vs/Introduction to APIs/v17/TestStore/0/testlog.manifest
.vs/ProjectEvaluation/introduction to apis.metadata.v8.bin
.vs/ProjectEvaluation/introduction to apis.projects.v8.bin
.vs/ProjectEvaluation/introduction to apis.strings.v8.bin
Introduction to APIs/bin/Debug/net8.0/appsettings.Development.json
Introduction to APIs/bin/Debug/net8.0/appsettings.json
Introduction to APIs/bin/Debug/net8.0/Introduction to APIs.deps.json
Introduction to APIs/bin/Debug/net8.0/Introduction to APIs.dll
Introduction to APIs/bin/Debug/net8.0/Introduction to APIs.exe
Introduction to APIs/bin/Debug/net8.0/Introduction to APIs.pdb
Introduction to APIs/bin/Debug/net8.0/Introduction to APIs.runtimeconfig.json
Introduction to APIs/obj/Introduction to APIs.csproj.nuget.dgspec.json
Introduction to APIs/obj/Introduction to APIs.csproj.nuget.g.props
Introduction to APIs/obj/Introduction to APIs.csproj.nuget.g.targets
Introduction to APIs/obj/project.assets.json
Introduction to APIs/obj/project.nuget.cache
Introduction to APIs/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Introduction to APIs/obj/Debug/net8.0/apphost.exe
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.AssemblyInfo.cs
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.AssemblyInfoInputs.cache
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.assets.cache
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.csproj.BuildWithSkipAnalyzers
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.csproj.CoreCompileInputs.cache
Introduction to APIs/obj/Debug/net8.0/Introduction to APIs.csproj.FileListAbsolute.txt
.vs/Introduction to APIs/v17/DocumentLayout.json
/.vs/Introduction to APIs/config/applicationhost.config
/.vs/Introduction to APIs/FileContentIndex/bd8b396a-ddb7-463f-890a-bc18537d0f5d.vsidx
/Introduction to APIs/obj/Debug/net8.0
/Introduction to APIs/Introduction to APIs.csproj.user
/.vs/Introduction to APIs/FileContentIndex/6ddf4ad2-a175-4b4b-98a2-48db4efb0d06.vsidx
/.vs/Introduction to APIs/FileContentIndex/18aa6a1e-ec4e-47f8-bff8-5aac35d07f27.vsidx
/.vs/Introduction to APIs/v17/DocumentLayout.backup.json
/.vs/Introduction to APIs/FileContentIndex/665ae988-dc75-426d-86c4-6d8c0897e7a8.vsidx
/Introduction to APIs/bin/Debug/net8.0/Introduction to APIs.staticwebassets.endpoints.json
